@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FDFBF7;
    --foreground: #1f2937;
    --border: #E5E7EB;
  }

  .dark {
    --background: #0F172A;
    --foreground: #F8FAFC;
    --border: #334155;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
