@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 253 251 247; /* #FDFBF7 */
    --foreground: 31 41 55; /* #1f2937 */
  }

  .dark {
    --background: 15 23 42; /* #0F172A */
    --foreground: 248 250 252; /* #F8FAFC */
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
